html {
    width: 100%;
    height: 100%;
}
body {
    margin:auto 0;
}
header {
    display: table;
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: #f3f3f3;
}   
.index{   
    height: 70vh;
    background: url("../images/treemount.jpg") no-repeat 50% 50%;
    background-size: cover;
    background-attachment: fixed;
}
#firstCover {
    color: white;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-family: 'Dk Zealand';
}
/* ======================================================================= */
/*NEW INDEX PAGE*/

/*font-family: 'Lato', sans-serif;
font-family: 'Merriweather Sans', sans-serif;
font-family: 'Roboto', sans-serif;
*/
.mainContent{
    display:inline-flex;
    width:100%;
    height:80vh;
    background-color: aqua;
    font-family: 'Lato', sans-serif;
}
.contentLeft{
    background-color: orange;
    padding:0;
    margin:0;
    width:25%;
}
.contentMiddle{
    background-color:white;
    padding:1em;
    margin:1em;
    width:50%;
}
.contentRight{
    background-color: yellow;
    padding:0;
    margin:0;
    width:25%;
}
/* ======================================================================= */
/*LOGO BY NAV BAR*/
.logo, #logoSlider {
    position: absolute;
    width: 100px;
    height: 100px;
    margin-top: 0;
    margin-left: 10px;
}
.logo img{
    width: auto;
    height: 100%; 
}
.logoSlider {
    position:fixed;
    z-index:1000;
    opacity:1;
    transition: 1s ease-in-out;
}
#logoHidden {
    position: absolute;
    left: -500px;
    height: 100%; 
}
#logoSlider{
    left: -500px;
    -webkit-animation: slide 1s forwards;
    -webkit-animation-delay: .2s;
    animation: slide 1s forwards;
    animation-delay: .2s;
}
@-webkit-keyframes slide {
    100% { left: 0; }
}
@keyframes slide {
    100% { left: 0; }
}
/* ======================================================================= */
/*#poemBtn {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-size: 2em;
    opacity: 1;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3 ease-in-out;
}
#poemBtnBIG {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-size: 5.5em;
    opacity: 1;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}*/

/*#poem {
    vertical-align: top;
    text-align: center;
    font-size: 1em;
    font-family: 'Playfair Display', serif;
    color:white;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3 ease-in-out;
}
#poem.fade {  
    opacity:1;
}*/
/* ======================================================================= */
/* BLOG PAGE */
.topNav{
    position:absolute;
    z-index: -1;
    top:0;
    width:100%;
    height:5.2em;
    background: url("../images/sun2-2.jpg");
    background-repeat:no-repeat;
    background-size: cover;  
}
.topBar  {
    display: flex;
    height:1.5em;
    background-image: url("../images/bwood.jpg");
    justify-content: center; 
}
.topBarSlide  {
    margin-top: 10px;
    height:2em;
    background-color:#393e46;
    text-align: center; 
}
/* .scrollSlider{
    position:fixed;
    height:2em;
    text-align: center; 
} */
.topBar ul {
    list-style-type: none;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width:50%;
    font-family: "Dk Zealand";
    font-size: .9em;
    align-self: center;
    margin:0;
    padding:0;
}
.top{
    padding-left: 15px;
}
.next{
    padding-right: 15px;
}

/* =================================================================== */
/* BLOG 2020 */
.grid-gallery-type-zero {
    margin-top: 10px;
    margin-right:10px;
    margin-left:10px;
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(13, 5vw);
    grid-gap: 10px;
    background-color: white;
}
.fadeIn{
  opacity: 1!important;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}
.grid-item img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.blog-head {
    display: flex;
    width:100%; 
    justify-content: space-between;
    align-items: center;
    font-family: "Dk Zealand";
    font-size: 1.4em;
    color: #393e46;
    background-color:#00adb5 ;
}
.grid-text {
    grid-column-start: 2;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 2;
}
.large0-0 {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 6;
}
.med1-0 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 9;
}
.med2-0 {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 6;
    grid-row-end: 9;
}
.long3-0 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 11;
}
.large4-0 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 9;
    grid-row-end: 14;
}
.med5-0 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 11;
    grid-row-end: 14;
}
/* =================================================================== */
/* BELLY BLOG */
.grid-gallery-type-one {
    margin-top: 10px;
    margin-right:10px;
    margin-left:10px;
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(13, 5vw);
    grid-gap: 10px;
    background-color: white;
}
.grid-item img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.blog-head {
    display: flex;
    width:100%; 
    justify-content: space-between;
    align-items: center;
    font-family: "Dk Zealand";
    font-size: 1.4em;
    color: #393e46;
    background-color:#00adb5 ;
}
.grid-text {
    grid-column-start: 2;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 2;
}
.info {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Dk Zealand";
    font-size: 1em;
    color: #393e46;
    background-color:#00adb5 ;
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 7;
    grid-row-end: 8;
}
.large1 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 7;
}
.small2 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 4;
}
.small3 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 4;
}
.landscape4 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 4;
    grid-row-end: 7;
}
.med5 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 7;
    grid-row-end: 10;
}
.med6 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 7;
    grid-row-end: 10;
}
.small7 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 7;
    grid-row-end: 10;
}
.large8 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 10;
    grid-row-end: 14;
}
.med9 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 10;
    grid-row-end: 14;
}
.portrait10 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 8;
    grid-row-end: 14;
}
/* =================================================================== */
/* LANDSCAPE */
.grid-gallery-type-two {
    margin-top: 10px;
    margin-right:10px;
    margin-left:10px;
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(13, 5vw);
    grid-gap: 10px;
    color: #00adb5;
}
.grid-item img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}
.small1-2 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
}
.med2-2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
}
.landscape4-2 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 5;
}
.landscape5-2 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 5;
    grid-row-end: 10;
}
.large6-2 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 10;
}
.large7-2 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 10;
    grid-row-end: 14;
}
.med8-2 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 10;
    grid-row-end: 14;
}
.landscape9-2 {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 10;
    grid-row-end: 12;
}
.landscape10-2 {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 12;
    grid-row-end: 14;
}
/* =================================================================== */
@media screen and (max-width:768px) {

.topBar{
    display: none;
}
.blog-head, .info {
    font-size: .8em;
}
.grid-gallery-type-two, .grid-gallery-type-one {
    margin-top: 5px;
    grid-gap: 5px;
} 